.leftSide {
    background-color: #ffffff;
    width: 49%;
    float: left;
    text-align: center;
}
.leftSide button{
    
}
.rightSide {
    background-color: #ffffff;
    width: 49%;
    float: left;
    text-align: center;
    border-left: 1px solid aqua;
}
.rightSide button{
    
}
.content img {
    width:150px;
    height: 100px;
}

.content button {
    background-color: grey;
    font-size: 32px;
    color:#ffffff;
    margin:20px;
    width: 75px;
    height:75px;
    border-width: 0px;
    border-radius: 37.5px;
}
.content{
    text-align: center;
}
.score{
    font-size: 64px;
}